@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,200;0,300;0,600;1,500&display=swap');
/* @import url('./fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Bold.otf'); */

/* Color de highlight del texto seleccionado */
::selection { 
    background: #8db474; /*Color naranja para el fondo*/
    color:#fff;  /*Color blanco para el texto seleccionado*/
}
/* CSS RESET */
*{
    padding: 0;
    margin: 0;
}

/* Variables de algunos estilos repetitivos */
:root{
    --text-button-color:#EDCBB1;
    --button-color:#333333;
    --text-button-color-hover:#003D00;
    --button-color-hover:#C6DEC6;

    --button-text-size:15px;
    --button-text-font:'Prompt', sans-serif;

    --button-padding:12px 14px;
}

/* Estilos de pomodoro */
.pomodoro-container{
    padding: 1.5rem;
    width: 40%;
    border-radius: 15px;
    background-color: #6c8d67;
    box-shadow: #4e803f .1rem .1rem 2rem;
    text-align: center;
    /* Centrado de contenido */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}.row-container{
    display: flex;
    align-items: center;
    min-height: 4rem;
}

/* header{
    background: rgba( 14, 14, 14, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

/* Diseño de reloj */
.clock-container{
    margin-top: 0rem;
    justify-content: center;
    font-family: "KyivType-bold", serif;
}#clock{
    font-size: 5.7rem;
    color:#E5ECE4;
    margin-bottom: 1rem;
}

/* Estilo de botones */
.buttons-options{
    display: flex;
    justify-content: center;
}#start-button{
    margin-right: 1rem;
    padding: var(--button-padding);
    color: var(--text-button-color);
    font-size: var(--button-text-size);
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    background-color: var(--button-color);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    transition: background-color .2s;
    font-family: var(--button-text-font);
    font-weight: bolder;
    text-transform:uppercase;
}#pause-button{
    padding: var(--button-padding);
    color: var(--text-button-color);
    font-size: var(--button-text-size);
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    background-color: var(--button-color);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    transition: background-color .2s;
    font-family: var(--button-text-font);
    font-weight: bolder;
    text-transform:uppercase;
}#resume-button{
    margin-right: 2rem;
    padding: var(--button-padding);
    color: var(--text-button-color);
    font-size: var(--button-text-size);
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    background-color: var(--button-color);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    transition: background-color .2s;
    font-family: var(--button-text-font);
    font-weight: bolder;
    text-transform:uppercase;
}#reset-button{
    margin-left: 2rem;
    padding: var(--button-padding);
    color:var(--text-button-color);
    font-size: var(--button-text-size);
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    background-color: var(--button-color);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    transition: background-color .2s;
    font-family: var(--button-text-font);
    font-weight: bolder;
    text-transform:uppercase;
}#start-button:hover{
    background-color: var(--button-color-hover);
    color: var(--text-button-color-hover);
}#pause-button:hover{
    background-color: var(--button-color-hover);
    color: var(--text-button-color-hover);
}#resume-button:hover{
    background-color: var(--button-color-hover);
    color: var(--text-button-color-hover);
}#reset-button:hover{
    background-color: var(--button-color-hover);
    color: var(--text-button-color-hover);
}

/* Inputs de tiempo y ciclos */
.input-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
}label{
    color:#EAE6E5;
    margin-top: 1.3rem;
    line-height: 1.3rem;
    font-weight: 500;
    font-size: 1.4rem;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    text-transform: capitalize;
}input{
    color: #ffffff;
    margin-top: .7rem; margin-bottom: .7rem;
    width: 35%;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
    outline-style: none;

    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    transition: color .2s;
}input:hover{
    color: #c9c9c9;
}

/* Diseño de Nav-Bar */