body{
    transition: 0.3s background-color;
    background-color: #e9f1e9;
}
#container{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle{
    border-style: none;
    width: 5rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #5a5a5a, 
                -3px -3px 8px #8f8f8f;
    cursor: pointer;
    transition: background-color, filter .3s;
}

.toggle:hover{
    filter: invert();
    box-shadow: 3px 3px 8px #616161, 
                -3px -3px 8px #838383;
}

body.active{
    transition: ease-in 0.3s;
    background-color: #0F0F0F;
}

/* Cambio de texto */
#mode.active .active-w{
    display: none;
}
#mode.active .active-d{
    display: flex;
    background-image: url(../img/icons/moon-solid.svg);
}
.active-d{
    margin-left: 32px;
    height: 20px;
    display: none;
}
.active-w{
    margin-left: 0px;
    height: 20px;
}


